<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Home</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/">About</a></li>
    <li class="nav-portfolio" role="menuitem"><a href="https://bit.ly/jodeio">WORKS / PORTFOLIO</a></li>
</ul>
